.recommend
{
    background-color: #adadad;
    border: 3px solid;
    border-color: #000;
    padding: 10px;

    margin: auto;
    width: 50%;

    font-size: x-large;
}

.tablecontainer
{
    align-items: center;
    text-align: center;
}

tr, td, th
{
    border: 3px solid;
    padding: 5 px;
}