.returnContainer
{
    align-items: center;
    text-align: center;

    background-color: #adadad;
}

.returntable
{
    box-sizing: content-box;
    border: 5px solid;
    border-color: #000000;

    background-color: #adadad;

    padding: 3%;

    /* The 100% width of the table is too big for whatever reason
    but 93.5% is good enough*/
    width: 93.5%;

    font-size: x-large;
}

tr, td, th
{
    border: 3px solid;
    padding: 10 px;
}

button
{
    max-width: fit-content;
    max-height: fit-content;
}