.heading
{
    background-color: #ffffff;
}

.righttable
{
    width: 50%;
    float: left;
    background-color: #adadad;
    height: 25%;

    box-sizing: content-box;
    border: 5px solid;
    border-color: #000000;

    padding: 10px;
}

.lefttable
{
    margin-left: 50%;
    background-color: #adadad;
    height: 25%;

    box-sizing: content-box;
    border: 5px solid;
    border-color: #000000;

    padding: 10px;
}